body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}

.nur-alam-color{
  color: tomato;
}
.section-flex{
  display: flex;
  margin-bottom: 150px;
}
.half-with-site{
  width: 50%;
  padding-left: 2%;
}
.half-with-site img{
  width: 80%;
}
.hire-me{
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  
}
.top-bg-imgage{
  background-image: url(developer-portfolio-master/images/top-banner.png);
  background-repeat: no-repeat;
}
.big-dream{
  background-position: right;
  background-image: url(developer-portfolio-master/images/dream-bg.png);
  background-repeat: no-repeat
  
}
.half-with-site p{
  text-align: justify;
  margin-right: 20px;
}

